dn: olcDatabase={1}hdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{dc}} 
-
replace: olcRootDN
olcRootDN: cn=admin,{{dc}}
-
replace: olcRootPW
olcRootPW: {{hashedLdapPassword.stdout}}
